<div class="container mx-auto px-5 text-white lg:py-10">
  <h1 class="font-semibold text-2xl text-hg-purple uppercase"><%= division.workout.name %></h1>
  <div class="flex flex-col gap-4 py-3">
    <%= simple_format(division.description) %>
  <div>
</div>
