<div class="container mx-auto px-5 text-white lg:py-10 flex flex-col items-center">
  <div class="flex flex-col gap-4 py-3">
    <h1 class="font-semibold text-2xl text-hg-purple uppercase w-full"><%= division.workout.name %></h1>
    <%= simple_format(division.description) %>
  </div>
</div>
