<div id="<%= dom_id workout %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= workout.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= workout.workout_type %>
  </p>
</div>
