<div class="min-h-screen bg-[url('chejo.jpg')] bg-cover bg-no-repeat fixed w-full -z-20 bg-center">
</div>
<div class="min-h-screen bg-hg-black bg-cover bg-no-repeat fixed w-full -z-10 opacity-70">
</div>
