<div class="card flex flex-col items-center text-center border border-white gap-5 p-10 mx-5">
  <%= icon %>
  <h2 class="font-extrabold text-xl lg:text-3xl text-white uppercase">
    <%= title %>
  </h2>
  <p class="text-md text-gray-300 max-w-lg">
    <%= content %>
  </p>
</div>
