  <div class="shadow-lg p-5 my-3">
    <div class="flex w-full justify-between ">
      <p>1x Ticket</p>
      <p>Q. 625</p>
    </div>
    <div class="flex w-full justify-between border-black border-b">
      <p>Cargos administrativos</p>
      <p>Q. 25</p>
    </div>
    <div class="flex w-full justify-between">
      <p>Total</p>
      <p>Q. 650</p>
    </div>
    <p class="text-gray-500 text-sm">*No se aceptan reembolsos.</p>
  </div>
