  <div class="shadow-lg p-5 my-3">
    <div class="flex w-full justify-between ">
      <p>1x Ticket</p>
      <p>Q. 500</p>
    </div>
    <p class="text-gray-500 text-sm">*No se aceptan reembolsos ni devoluciones.</p>
  </div>