<header class="container mx-auto" data-controller="toggle">
  <nav class="relative bg-white flex justify-between py-6 items-center" >

    <%= link_to root_path do %>
      <%= image_tag 'logo.png', alt: 'logo', class: 'mx-5 h-20' %>
    <% end %>

    <button class="mx-5 w-fit lg:hidden" data-action="click->toggle#menu">
      <div data-toggle-target="hamburger">
        <i class="fa-solid fa-bars fa-xl"></i>
      </div>
      <div class="hidden" data-toggle-target="close">
        <i class="fa-solid fa-xmark fa-xl"></i>
      </div>
    </button>

    <ul class="max-h-0 opacity-0 py-5 px-5 flex flex-col items-end gap-6 w-full top-28 transition-all duration-200 ease-in text-lg bg-white absolute uppercase lg:flex-row lg:items-center lg:static lg:max-h-none lg:opacity-100 lg:w-fit lg:text-base" data-toggle-target="menu">
      <%= link_to 'Inicio', root_path %>
      <%# <li>Sobre Nosotros</li> %>
      <%# <li>Contacto</li> %>
      <%= link_to 'Inscríbete', new_athlete_path, class: "rounded-lg py-2 px-4 border-2 border-hg-purple text-hg-purple block font-semibold uppercase w-fit hover:bg-hg-purple hover:text-white duration-200 hover:ease-in" %>
    </ul>
  </nav>

</header>