<div class="container mx-auto py-16 px-5">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  
  <p class="text-lg"><span class="font-bold text-hg-purple">Lo sentimos. Tu pago falló.</span></p>
  <p class="text-lg mb-5">Por favor intenta de nuevo o comunícate con nosotros por medio de instagram o al correo highgroundfitnesscompetition@gmail.com</p>
</div>
