<section class="container mx-auto py-16 px-5 flex justify-center items-center flex-col gap-24 h-full lg:flex-row">
  <div class="flex flex-col gap-4 justify-center items-center">
    <div class="flex justify-center items-center">
      <%= image_tag 'fri_blue.png', alt: 'Fri', class: 'h-12' %>
    </div>
    <%= link_to 'Inscribirse por FRI', new_fri_athlete_path, class: "rounded-lg py-3 px-5 bg-hg-purple text-white block font-semibold uppercase w-fit hover:bg-white hover:text-hg-purple duration-200 hover:ease-in hover:outline" %>
    <div>
      <p class="text-center text-sm">*Al inscribirte por medio de fri, obtienes</p>
      <p class="text-center text-sm">tu t-shirt personalizada con tu nombre.</p>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center gap-4 lg:pb-14">
    <i class="fa-regular fa-credit-card fa-3x" style="color: #398ae7"></i>
    <%= link_to 'Inscribirse con tarjeta', new_recurrente_athlete_path, class: "rounded-lg py-3 px-5 bg-hg-purple text-white block font-semibold uppercase w-fit hover:bg-white hover:text-hg-purple duration-200 hover:ease-in hover:outline" %>
  </div>
</section>
