<div class="container mx-auto py-16 px-5">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  
  <h1 class="font-bold text-7xl">WELCOME TO</h1>
  <h1 class="font-bold text-7xl mb-5">THE HIGH GROUND</h1>
  <p class="text-lg">Recuerda que para terminar tu proceso de inscripción debes de aceptar el cobro a nombre de "CrossFit Xela" en tu aplicación de FRI.</p>
  <p class="text-lg">Debes de terminar el proceso antes del <span class="font-semibold">15 de septiembre</span>, de lo contrario, se cancelará tu inscripción.</p>
  <p class="text-lg">¡Nos vemos el 14 y 15 de octubre!</p>
</div>
