<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing recurrente_athlete</h1>

  <%= render "form", recurrente_athlete: @recurrente_athlete %>

  <%= link_to "Show this recurrente_athlete", @recurrente_athlete, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to recurrente_athletes", recurrente_athletes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
