
<div class="container mx-auto flex lg:gap-10">
  <div class="px-5 py-5 w-full">
    <h1 class="font-bold text-4xl">Ingresa tus datos</h1>

    <%= render "form", athlete: @athlete %>
  </div>

  <div class="hidden lg:block lg:self-start lg:w-2/3 lg:mr-5">
    <%= render "shared/recurrente_total_price" %>
  </div>
  
</div>
