<div class="container mx-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Workouts</h1>
    <%= link_to 'New workout', new_admin_workout_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="workouts" class="grid grid-cols-[1fr_repeat(4,_3fr)] mt-10">
    <p class="bg-black text-white uppercase font-semibold flex text-xs items-center justify-center py-2">No.</p>
    <p class="bg-black text-white uppercase font-semibold flex text-xs items-center justify-center py-2">Name</p>
    <p class="bg-black text-white uppercase font-semibold flex text-xs items-center justify-center py-2">Type</p>
    <p class="bg-black text-white uppercase font-semibold flex text-xs items-center justify-center py-2">Divisions</p>
    <p class="bg-black text-white uppercase font-semibold flex text-xs items-center justify-center py-2">Actions</p>
    <% @workouts.each_with_index do |workout, index| %>
      <%= render 'workout', { workout:, index: } %>
    <% end %>
  </div>
</div>
